* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
header {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5px 0.2px 0px 0px gray;
  top: 0px;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  z-index: 2;
}

.header-introBar {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  position: relative;
}

=======
>>>>>>> mBw
button {
  border: 0px;
  background-color: white;
}

<<<<<<< HEAD
.header-menuBar {
  margin-right: 30px;
}

.header-logo img {
  max-height: 100%;
  max-width: 100%;
}

.header-profile img {
  max-height: 100%; /* 로고 이미지 높이 100%로 설정 */
  max-width: 100%; /* 로고 이미지 최대 너비 100%로 설정 */
}

=======
>>>>>>> mBw
a::visited {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

<<<<<<< HEAD
.header-menu {
  cursor: pointer;
}

.header-menuApi{
  margin-right: 30px;
  font-weight: 500;
}

.header-menuCommunity {
  font-weight: 500;
}

.header-communityHiddenMenu {
  display: none;
  width: 200px;
  position: absolute;
  transform: translate(20px, 80px);
}

.header-communityHiddenMenuUl {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  /* border: 1px solid rgba(112, 115, 124, 0.22); */
  background-color: #e9f6ff;
}

.header-communityHiddenMenuli {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  /* font-size: 0.875rem; */
  letter-spacing: 0px;

  font-weight: 800;
}

.header-communityHiddenMenuA {
  color: #a5a5a5;
}

main{
=======
main {
>>>>>>> mBw
  max-width: 1000px;
  padding: 0;
  margin: auto;
  margin-top: 150px;
}
/* 게시글 상단 */
/* 게시글 프로필 */
<<<<<<< HEAD
.leaguePost-profileCtn{
=======
.leaguePost-profileCtn {
>>>>>>> mBw
  display: flex;
  position: relative;
  height: 80px;
}

<<<<<<< HEAD
.leaguePost-profile{
  line-height: 10px;
}

.leaguePost-commentProfileImg{
  margin: 20px 0;
}

.leaguePost-userNicknameCtn{
  position: absolute;
  left: 80px;
  height: 70px;
  line-height: 10px
}

.leaguePost-userNickname{
=======
.leaguePost-profile {
  line-height: 10px;
}

.leaguePost-commentProfileImg {
  margin: 20px 0;
}

.leaguePost-userNicknameCtn {
  position: absolute;
  left: 80px;
  height: 70px;
  line-height: 10px;
}

.leaguePost-userNickname {
>>>>>>> mBw
  font-size: 18px;
  font-weight: bold;
}

<<<<<<< HEAD
.leaguePost-date{
=======
.leaguePost-date {
>>>>>>> mBw
  color: lightgrey;
  position: absolute;
  top: 25px;
  font-size: 14px;
}

/* 게시글 상단 메뉴 버튼 */
<<<<<<< HEAD
.leaguePost-profileCtn{
=======
.leaguePost-profileCtn {
>>>>>>> mBw
  display: flex;
  justify-content: space-between;
}

<<<<<<< HEAD
#leaguePost-showListButton{
=======
#leaguePost-showListButton {
>>>>>>> mBw
  background-color: white;
  border: none;
  padding-left: 100px;
  cursor: pointer;
}

<<<<<<< HEAD
.leaguePost-menuBar{
=======
.leaguePost-menuBar {
>>>>>>> mBw
  max-width: 120px;
  max-height: 80px;
}

<<<<<<< HEAD
.leaguePost-menuBarImg{
=======
.leaguePost-menuBarImg {
>>>>>>> mBw
  width: 26px;
  height: 42px;
}

<<<<<<< HEAD
#leaguePost-list{
  display: none;
  list-style: none;
  padding-left: 20px;
  background-color: #E9F6FF;
=======
#leaguePost-list {
  display: none;
  list-style: none;
  padding-left: 20px;
  background-color: #e9f6ff;
>>>>>>> mBw
  border-radius: 9999px;
  cursor: pointer;
  font-weight: 800;
}

<<<<<<< HEAD
#leaguePost-list li{
  padding-left: 8px;
}

#leaguePost-list a{
=======
#leaguePost-list li {
  padding-left: 8px;
}

#leaguePost-list a {
>>>>>>> mBw
  text-decoration-line: none;
  color: #a5a5a5;
}

/* 게시글 제목 */
<<<<<<< HEAD
.leaguePost-titleCtn{
=======
.leaguePost-titleCtn {
>>>>>>> mBw
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  height: 80px;
}

<<<<<<< HEAD
.leaguePost-title{
=======
.leaguePost-title {
>>>>>>> mBw
  font-size: 20px;
  margin: 0 5px;
  color: rgb(170, 170, 170);
}

<<<<<<< HEAD
.leaguePost-titleContnet{
=======
.leaguePost-titleContnet {
>>>>>>> mBw
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
  color: rgb(80, 80, 80);
}

/* 게시글 내용 */
<<<<<<< HEAD
.leaguePost-top{
  border-bottom: 2px solid lightgrey;
}

.leaguePost-contentCtn{
  height: 200px;
}

.leaguePost-routeCtn{
=======
.leaguePost-top {
  border-bottom: 2px solid lightgrey;
}

.leaguePost-contentCtn {
  height: 200px;
}

.leaguePost-routeCtn {
>>>>>>> mBw
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 5px;
}

<<<<<<< HEAD
.leaguePost-routeCtn a{
  text-decoration-line: none;
}

.leaguePost-route{
=======
.leaguePost-routeCtn a {
  text-decoration-line: none;
}

.leaguePost-route {
>>>>>>> mBw
  font-size: 14px;
  font-weight: bold;
}

<<<<<<< HEAD
.leaguePost-commentSubmit{
=======
.leaguePost-commentSubmit {
>>>>>>> mBw
  cursor: pointer;
}

/*a:visited{
  color: rgb(80, 80, 80);
}*/

<<<<<<< HEAD
.leaguePost-commentmenuBarImg{
  cursor: pointer;
}

.leaguePost-ctCtn{
=======
.leaguePost-commentmenuBarImg {
  cursor: pointer;
}

.leaguePost-ctCtn {
>>>>>>> mBw
  width: 1000px;
  margin-top: 30px;
}

<<<<<<< HEAD
.leaguePost-content{
  font-size: 22px;
}

.leaguePost-inventoryCtn{
=======
.leaguePost-content {
  font-size: 22px;
}

.leaguePost-inventoryCtn {
>>>>>>> mBw
  display: flex;
  align-items: center;
  margin-top: 30px;
}

<<<<<<< HEAD
.leaguePost-inventoryBtn img{
=======
.leaguePost-inventoryBtn img {
>>>>>>> mBw
  width: 50px;
  height: 50px;
}

<<<<<<< HEAD
.leaguePost-inventoryBtn{
=======
.leaguePost-inventoryBtn {
>>>>>>> mBw
  border: none;
  background-color: white;
}

/* 좋아요 */

<<<<<<< HEAD
.leaguePost-like{
=======
.leaguePost-like {
>>>>>>> mBw
  display: flex;
  position: relative;
  left: 10px;
}

<<<<<<< HEAD
.leaguePost-likeText{
  line-height: 26px;
}

.leaguePost-likeBtn{
=======
.leaguePost-likeText {
  line-height: 26px;
}

.leaguePost-likeBtn {
>>>>>>> mBw
  border: none;
  background-color: white;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 3px;
}

<<<<<<< HEAD
#like.active{
=======
#like.active {
>>>>>>> mBw
  fill: red;
}

/* 조회수 */
<<<<<<< HEAD
.leaguePost-view{
=======
.leaguePost-view {
>>>>>>> mBw
  display: flex;
  position: relative;
  left: 30px;
}

<<<<<<< HEAD
.leaguePost-view img{
=======
.leaguePost-view img {
>>>>>>> mBw
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

<<<<<<< HEAD
.leaguePost-viewText{
=======
.leaguePost-viewText {
>>>>>>> mBw
  line-height: 20px;
  position: relative;
  left: 2px;
}

/* 게시글 중단 */
<<<<<<< HEAD
.leaguePost-middle{
  border-bottom: 2px solid lightgrey;
}
/* 게시글 댓글 */
.leaguePost-comments{
=======
.leaguePost-middle {
  border-bottom: 2px solid lightgrey;
}
/* 게시글 댓글 */
.leaguePost-comments {
>>>>>>> mBw
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

<<<<<<< HEAD
.leaguePost-commentText{
=======
.leaguePost-commentText {
>>>>>>> mBw
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  line-height: 35px;
<<<<<<< HEAD
  background-color: #E9F6FF;
=======
  background-color: #e9f6ff;
>>>>>>> mBw
  width: 60px;
  height: 35px;
}

<<<<<<< HEAD
.leaguePost-commentInput{
=======
.leaguePost-commentInput {
>>>>>>> mBw
  width: 850px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

<<<<<<< HEAD
.leaguePost-commentSubmit{
  background-color: #E9F6FF;
=======
.leaguePost-commentSubmit {
  background-color: #e9f6ff;
>>>>>>> mBw
  height: 35px;
  width: 60px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

<<<<<<< HEAD
.leaguePost-commentCtn{
=======
.leaguePost-commentCtn {
>>>>>>> mBw
  display: flex;
  align-items: center;
  height: 100px;
}

<<<<<<< HEAD
.leaguePost-commentProfileImg{
  font-size: 50px;
}

.leaguePost-commentUserNickname{
  margin-left: 5px;
}

.leaguePost-commentUserNicknameText{
=======
.leaguePost-commentProfileImg {
  font-size: 50px;
}

.leaguePost-commentUserNickname {
  margin-left: 5px;
}

.leaguePost-commentUserNicknameText {
>>>>>>> mBw
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: rgb(80, 80, 80);
}

<<<<<<< HEAD
.leaguePost-commentdate{
=======
.leaguePost-commentdate {
>>>>>>> mBw
  font-size: 14px;
  margin: 0;
  color: lightgrey;
}

<<<<<<< HEAD
.leaguePost-commentMenuBtn{
=======
.leaguePost-commentMenuBtn {
>>>>>>> mBw
  border: none;
  background-color: white;
}

<<<<<<< HEAD
.leaguePost-commentMenuBtn img{
=======
.leaguePost-commentMenuBtn img {
>>>>>>> mBw
  width: 20px;
  height: 35px;
}

<<<<<<< HEAD
.leaguePost-commentContentCtn{
  width: 600px;
  height: 80px;
  background-color: #E9F6FF;
=======
.leaguePost-commentContentCtn {
  width: 600px;
  height: 80px;
  background-color: #e9f6ff;
>>>>>>> mBw
  border-radius: 10px;
  margin: 10px auto;
}

<<<<<<< HEAD
.leaguePost-commentContent{
=======
.leaguePost-commentContent {
>>>>>>> mBw
  font-size: 16px;
  font-weight: bold;
  line-height: 80px;
  margin: 0 0 0 10px;
}

/* 댓글 메뉴 */
<<<<<<< HEAD
.leaguePost-commentMenu{
  display: flex;
}

#leaguePost-commentButton, #leaguePost-commentButton2, #leaguePost-commentButton3{
=======
.leaguePost-commentMenu {
  display: flex;
}

#leaguePost-commentButton,
#leaguePost-commentButton2,
#leaguePost-commentButton3 {
>>>>>>> mBw
  background-color: white;
  border: none;
}

<<<<<<< HEAD
.leaguePost-commentmenuBarImg{
=======
.leaguePost-commentmenuBarImg {
>>>>>>> mBw
  width: 20px;
  height: 30px;
}

<<<<<<< HEAD
#leaguePost-commentHidden, #leaguePost-commentHidden2, #leaguePost-commentHidden3{
  display: none;
  list-style: none;
  padding-left: 20px;
  background-color: #E9F6FF;
=======
#leaguePost-commentHidden,
#leaguePost-commentHidden2,
#leaguePost-commentHidden3 {
  display: none;
  list-style: none;
  padding-left: 20px;
  background-color: #e9f6ff;
>>>>>>> mBw
  border-radius: 9999px;
  cursor: pointer;
  font-weight: 800;
  width: 80px;
  height: 50px;
}

<<<<<<< HEAD
#leaguePost-commentHidden a, #leaguePost-commentHidden2 a, #leaguePost-commentHidden3 a{
=======
#leaguePost-commentHidden a,
#leaguePost-commentHidden2 a,
#leaguePost-commentHidden3 a {
>>>>>>> mBw
  text-decoration-line: none;
  color: #a5a5a5;
  font-size: 14px;
}

/* 게시글 하단 */
<<<<<<< HEAD
.leaguePost-freeWritingDetail{
  display: flex;
  height: 150px;
  border-radius: 30px;
  background-color: #E9F6FF;
  margin: 30px 0;
}

.leaguePost-freeWritingDetailBox{
=======
.leaguePost-freeWritingDetail {
  display: flex;
  height: 150px;
  border-radius: 30px;
  background-color: #e9f6ff;
  margin: 30px 0;
}

.leaguePost-freeWritingDetailBox {
>>>>>>> mBw
  width: 1200px;
  padding-right: 70px;
  margin-left: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}

<<<<<<< HEAD
.leaguePost-freeWritingDetailType{
  font-size: 13px;
  color: #5079E2;
=======
.leaguePost-freeWritingDetailType {
  font-size: 13px;
  color: #5079e2;
>>>>>>> mBw
  margin-bottom: 25px;
  font-weight: 600;
}

<<<<<<< HEAD
.leaguePost-freeWritingDetailTitle{
  margin-bottom: 30px;
}

.leaguePost-freeWritingDetailText{
=======
.leaguePost-freeWritingDetailTitle {
  margin-bottom: 30px;
}

.leaguePost-freeWritingDetailText {
>>>>>>> mBw
  font-size: 20px;
  font-weight: 700;
}

<<<<<<< HEAD
.leaguePost-freeWritingDetailNickname{
=======
.leaguePost-freeWritingDetailNickname {
>>>>>>> mBw
  font-size: 14px;
  font-weight: 600;
}

<<<<<<< HEAD
.leaguePost-freeWritingDetailCount{
=======
.leaguePost-freeWritingDetailCount {
>>>>>>> mBw
  font-size: 14px;
  font-weight: 600;
}

<<<<<<< HEAD
.leaguePost-freeWritingDetailName{
=======
.leaguePost-freeWritingDetailName {
>>>>>>> mBw
  display: flex;
  justify-content: space-between;
}

<<<<<<< HEAD
.leaguePost-pageNumber{
=======
.leaguePost-pageNumber {
>>>>>>> mBw
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

<<<<<<< HEAD
.leaguePost-pageNumberBox{
=======
.leaguePost-pageNumberBox {
>>>>>>> mBw
  width: 500px;
  height: 50px;
  display: inline-flex;
  justify-content: space-between;
  align-items: stretch;
<<<<<<< HEAD
  background-color: #E9F6FF;
  border-radius: 9999px;
}

.leaguePost-freeWritingDetailBox a{
  text-decoration-line: none;
}

/* 푸터 */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
  padding: 0;
  border-top: 1px solid lightgrey;
  margin-bottom: 80px;
}

.footer-container {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.footer-logo {
  line-height: 150px;
  margin-left: 100px;
}

.footer-text {
  margin: auto;
}

.footer-text li {
  list-style: none;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(55, 56, 60, .61);
}

.footer-img {
  line-height: 150px;
  margin-right: 100px;
}
=======
  background-color: #e9f6ff;
  border-radius: 9999px;
}

.leaguePost-freeWritingDetailBox a {
  text-decoration-line: none;
}
>>>>>>> mBw
