* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  border: 0px;
  background-color: white;
}

a::visited {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/* idfind.css 시작점 */

.passwordre-banner-container {
  margin-top: 80px;
  background-color: #e9f6ff;
  height: 50px;
  margin-bottom: 50px;
}

.passwordre-banner-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 25px;
}

.passwordre-checkemail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passwordre-emailcheck {
  margin-right: 50px;
}

.passwordre-checkmail-checkconfirm {
  margin: auto;
  margin-top: 50px;

  max-width: 200px;
}

div {
  margin: 0;
  padding: 0;
}
#passwordre-next {
  margin-top: 5px;
}

.passwordre-next-button {
  margin-top: 30px;
  width: 200px;
  height: 33px;
  background-color: skyblue;
  text-align: center;
}

#passwordre-next {
  background-color: skyblue;
  text-align: center;
  border: 1px solid skyblue;
  cursor: pointer;
}

#passwordre-emailnumber1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.passwordre-header-container {
  max-width: 500px;
  margin: auto;
}
