* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  border: 0px;
  background-color: white;
}

a::visited {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

/* 게시글 작성 메인 */
main {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding-bottom: 150px;
}

.leagueCreate-title {
  width: 400px;
  height: 100px;
}

.leagueCreate-titleText {
  font-size: 30px;
  color: #a5a5a5;
  font-weight: 500;
  text-align: center;
  line-height: 100px;
}

.leagueCreate-choiceCtn {
  padding-right: 10px;
  margin-right: 20px;
  padding-left: 10px;
  width: 100px;
  border-radius: 10px;
  background-color: #e9f6ff;
  position: relative;
  left: 150px;
}

.leagueCreate-choice {
  color: #a5a5a5;
  font-weight: 800;
  /* padding-left: 10px;
  padding-right: 40px; */
  width: 100%;
  border: none;
  background-color: #e9f6ff;
  border-radius: 10px;
  /* appearance: none; */
}

.leagueCreate-mainContainer {
  width: 90%;
  max-width: 1200px;
  margin-top: 20px;
}

.leagueCreate-boardTitle {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  margin-bottom: 5px;
  justify-content: center;
}

.leagueCreate-btInput {
  margin: auto;
  padding: 10px;
  width: 900px;
  outline: none;
  border-width: 0 0 2px;
  border-color: lightgrey;
}

.leagueCreate-btInput::placeholder {
  color: lightgrey;
}

.leagueCreate-boardContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  justify-content: center;
}

.leagueCreate-btnCtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  background-color: #e9f6ff;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

/* button:hover {
  background-color: #e9f6ff;
} */

#cancelBtn {
  color: #a5a5a5;
  font-weight: 800;
  background-color: blanchedalmond;
}

#submitBtn {
  background-color: #e9f6ff;
  color: #a5a5a5;
  font-weight: 800;
}

#cancelBtn:hover {
  background-color: blanchedalmond;
}

/* 에디터 스타일 */
#summernote {
  width: 90%;
  max-width: 1200px;
  max-height: 400px;
  margin-bottom: 20px;
  overflow-y: auto;
}

/* 버튼 간격 조정 */
button {
  margin-left: 10px;
  margin-right: 10px;
}
