* {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
}

button {
    border: 0px;
    background-color: white;
}

a::visited {
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.main-notice {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}

.main-noticeTitleBar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.main-downscroll {
    width: 100px;
}

.main-downscrollButton {
    cursor: pointer;
}

.main-downscrollButtonBox {
    padding-left: 35px;
}

.main-downscrollType {
    background-color: #e9f6ff;
    border-radius: 9999px;
}

.main-sortOrder {
    display: none;
}

.main-sortOrder li {
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: #a5a5a5;
    font-weight: 800;
}

.main-noticeDetail {
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;
    background-color: #e9f6ff;
    border-radius: 9999px;
}

.main-noticeDetailBox1 {
    border-radius: 9999px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    width: 100px;
    height: 30px;
    margin-left: 50px;
}

.main-noticeDetailBox1Text {
    margin-left: 35px;
    font-weight: 500;
}

.main-noticeDetailBox2 {
    margin-left: 50px;
}

.main-noticeDetailBox2Text {
    color: #a5a5a5;
    font-weight: 800;
}

.main-noticeDetailBox3 {
    margin-left: 50px;
}

.main-noticeDetailBox3Text {
    font-weight: 600;
}

.main-freeWriting {
    width: 100%;
    max-width: 1200px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-writingTypeChoice {
    display: flex;
    margin-bottom: 40px;
}

.main-writingTypeChoiceBox1 {
    padding-right: 10px;
    margin-right: 20px;
    padding-left: 10px;
    width: 100px;
    border-radius: 10px;
    background-color: #e9f6ff;
}

.main-writingTypeChoiceBox2 {
    border-radius: 10px;
    background-color: #e9f6ff;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    /* border-radius: 10px;
    background-color: #E9F6FF; */
}

.main-writingTypeChoiceSelect {
    color: #a5a5a5;
    font-weight: 800;
    /* padding-left: 10px;
    padding-right: 40px; */
    width: 100%;
    border: none;
    background-color: #e9f6ff;
    border-radius: 10px;
    /* appearance: none; */
}

/* 게시글 */
.main-freeWritingDetail {
    display: flex;
    height: 150px;
    border-radius: 9999px;
    background-color: #e9f6ff;
    margin-bottom: 20px;
}

.main-freeWritingDetailBox {
    width: 1200px;
    padding-right: 70px;
    margin-left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-freeWritingDetailType {
    font-size: 13px;
    color: #5079e2;
    margin-bottom: 25px;
    font-weight: 600;
}

.main-freeWritingDetailTitle {
    margin-bottom: 30px;
}

.main-freeWritingDetailText {
    font-size: 20px;
    font-weight: 700;
}

.main-freeWritingDetailNickname {
    font-size: 14px;
    font-weight: 600;
}

/* .main-freeWritingDetailCount {
  font-size: 14px;
  font-weight: 600;
} */

.main-freeWritingDetailLike{
    font-size: 14px;
    font-weight: 600;
}

.main-freeWritingDetailView{
    font-size: 14px;
    font-weight: 600;
}

.main-freeWritingDetailName {
    display: flex;
    justify-content: space-between;
}


/* 게시물 추가 버튼 */
.to_Writing {
    position: fixed;
    bottom: 200px;
    right: 180px;
}

.to_Writing img {
    width: 45px;
    height: 45px;
}

/* 페이지네이션 버튼 */
.pagination{
    width: 560px;
    text-align: center;
    background-color: #e9f6ff;
    margin-bottom: 150px;
    border-radius: 9999px;
}

.main-freeWritingDetailButton{
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    /* border: none; */
    background-color: #e9f6ff;
    color: #a5a5a5;
    font-weight: 600;
}

.active{
    color: #5079e2;
}

.pagination-button{
    font-size: 20px;
    padding: 15px;
    /* border: none; */
    background-color: #e9f6ff;
    color: #a5a5a5;
    font-weight: 600;
}

#footer{
    width: 100%;
}