* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}

html,body{
  height:100%;
  margin:0;
}  

body{
  position:relative;
  padding-bottom: 150px;
}

header {
  position: sticky;
  height: 80px; 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow : 0.5px 0.2px 0px 0px gray;
  top: 0px;
  border-bottom: 1px solid lightgrey;
  background-color: #284C7F;
  z-index: 1;
}

.intro-bar{
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav{
  display: flex;
  align-items: center;
  position: relative;
}

.menu-bar{
  margin-right: 30px;
}

.logo img {
  max-height: 100%; 
  max-width: 100%; 
}

.profile img{
  max-height: 100%;
  max-width: 100%;
  border-radius: 100%;
}

a::visited{
  color: black;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
}

.menu{
  cursor: pointer;
}

.menu-community{
  font-weight: 500;
}

.communityHiddenMenu{
  display: none;
  width: 200px;
  position: absolute;
  transform: translate(-60px, 80px);
}

.community-hiddenMenu-ul{
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  border: 1px solid rgba(112, 115, 124, 0.22);
  background-color: rgb(255, 255, 255);
}

.community-hiddenMenu-li{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  letter-spacing: 0px;
  font-weight: 500; 
}
.adminmode{
  margin: 10px;
  padding: 5px;
  background-color: rgb(248, 138, 138);
  text-align: center;
  position: fixed;
  left: 380px;
  width:100px;
  top: 10%;
}
#applicationForm {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 80%;
  max-width: 800px;
  margin-bottom: 20px;
}

#applicationForm h2 {
  margin-bottom: 10px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #E9F6FF;
  color: black;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #d7ecfc;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 150px;
  margin: auto;
  padding: 0;
  position: absolute;
  border-top: 1px solid lightgrey;
  bottom: 0; 
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.footer-logo {
  line-height: 150px;
  margin-left: 100px;
}

.footer-text {
  line-height: 150px;
  margin: auto;
}

.footer-text li {
  list-style: none;
}

.text-top {
  position: absolute;
  top: -40px;
}

.text-bottom {
  position: absolute;
  top: 40px;
}

.footer-img {
  line-height: 150px;
  margin-right: 100px;
}
