* {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
  }

header {
    position: sticky;
    height: 80px; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow : 0.5px 0.2px 0px 0px gray;
    top: 0px;
    border-bottom: 1px solid lightgrey;
    background-color: #284C7F;
    z-index: 1;
}
  
.intro-bar{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  .header-nav{
    display: flex;
    align-items: center;
    position: relative;
  }
  
  button{
    border: 0px;
    background-color: white;
  }
  
  .menu-bar{
    margin-right: 30px;
  }
  
  .logo img {
    max-height: 100%; 
    max-width: 100%; 
  }
  
  
  .profile img{
    max-height: 100%; 
    max-width: 100%; 
    border-radius: 100%;
  }
  
  a::visited{
    color: black;
  }
  
  a{
    text-decoration: none;
    color: black;
  }
  
  ul{
    list-style: none;
  }
  
  .menu{
    cursor: pointer;
  }
  
  .menu-community{
    font-weight: 500;
  }
  
  .communityHiddenMenu{
    display: none;
    width: 200px;
    position: absolute;
    transform: translate(-60px, 80px);
  }
  
  .community-hiddenMenu-ul{
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    /* border: 1px solid rgba(112, 115, 124, 0.22); */
    background-color: #E9F6FF;
  }
  
  .community-hiddenMenu-li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    /* font-size: 0.875rem; */
    letter-spacing: 0px;
    
    font-weight: 800;
  }
  
  .community-hiddenMenu-li a{
    color: #a5a5a5;
  }

    main{
      display: flex;
      justify-content: center;
      align-items: center; 
      flex-direction: column;
      width: 100%;
    }
    .adminmode{
        margin: 10px;
        padding: 5px;
        background-color: rgb(248, 138, 138);
        text-align: center;
        position: absolute;
        left: 380px;
        top: 10%;
      }
  .notice{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
  }
  
  .notice_title_bar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .admin_option{
    display: flex;
    flex-direction: row;
  }
  .write,.leaguelist{
    margin: 10px;
    padding: 5px;
    background-color: rgb(248, 138, 138);
    text-align: center;
    position: absolute;
    top:130px;
  }
  .write{
    left:590px;
  }
  .leaguelist{
    left:660px;
  }
  .downscroll{
    width: 100px;
  }
  
  .downscrollButton{
    cursor: pointer;
  }
  
  .downscroll-d1{
    padding-left: 35px;
  }
  
  .downscroll-d2{
  
    background-color: #E9F6FF;
    border-radius: 9999px;
  }
  
  .sortOrder{
    display: none;
  }
  
  .sortOrder li{
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: #D9D9D9;
    font-weight: 800;
  }
  .notice-detail{
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;
    background-color: #E9F6FF;
    border-radius: 9999px;
  }
  .notice-detail a{
    display: flex;
  }
  .nd-1{
    border-radius: 9999px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    width: 100px;
    height: 30px;
    margin-left: 50px;
  }
  
  .nd-11{
    margin-left: 35px;
    font-weight: 500;
  }
  
  .nd-2{
    margin-left: 50px;
  }
  
  .nd-22{
    color: #D9D9D9;
    font-weight: 800;
  }
  
  .nd-3{
    margin-left: 50px;
  }
  
  .nd-33{
    font-weight: 600;
  }
  
  .free-writing{
    width: 100%;
    max-width: 1200px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  
  .writing_type_choice{
    display: flex;
    margin-bottom: 40px;
  }
  
  .wt_choice_1{
    padding-right: 10px;
    margin-right: 20px;
    padding-left: 10px;
    width: 100px;
    border-radius: 10px;
    background-color: #E9F6FF;
  }
  
  
  .wt_choice_2{
    border-radius: 10px;
    background-color: #E9F6FF;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    /* border-radius: 10px;
    background-color: #E9F6FF; */
  }
  
  .wtc_1{
    color: #D9D9D9;
    font-weight: 800;
    /* padding-left: 10px;
    padding-right: 40px; */
    width: 100%;
    border: none;
    background-color: #E9F6FF;
    border-radius: 10px;
    /* appearance: none; */
  }
  
  .fw-detail{
    display: flex;
    height: 150px;
    border-radius: 9999px;
    background-color: #E9F6FF;
    margin-bottom: 20px;
  }
  
  .fwd_box{
    width: 1200px;
    padding-right: 70px;
    margin-left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .fwd-type{
    font-size: 13px;
    color: #5079E2;
    margin-bottom: 25px;
    font-weight: 600;
  }
  
  .fwd-title{
    margin-bottom: 30px;
  }
  
  .fwdt-text{
    font-size: 20px;
    font-weight: 700;
  }
  
  .fwd-nickname{
    font-size: 14px;
    font-weight: 600;
  }
  
  .fwd-count{
    font-size: 14px;
    font-weight: 600;
  }
  
  .fwd-detail-box{
    display: flex;
    justify-content: space-between;
  }
  
  .board-pageNumber{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
  }
  
  .board-pageNumber--box{
    width: 500px;
    height: 50px;
    display: inline-flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #E9F6FF;
    border-radius: 9999px;
  }
  
  .bpNbnumber1{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #5079E2;
  }
  
  .b-pN--b-number{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #D9D9D9;
  }
  
  .b-pN--b-left{
    margin-left: 40px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #D9D9D9;
  }
  
  .b-pN--b-right{
    margin-right: 40px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #D9D9D9;
  }
  
    footer {
      display: flex;
      justify-content: center;
      align-items: center; 
      width: 100%;
      height: 150px;
      margin: auto;
      padding: 0;
      position: absolute;
      border-top: 1px solid lightgrey;
    }
  
    .footer-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1200px;
    }
  
    .footer-logo {
      line-height: 150px;
      margin-left: 100px;
    }
    
    .footer-text {
      line-height: 150px;
      margin: auto;
    }
    
    .footer-text li {
      list-style: none;
      font-size: 14px;
      font-weight: 600;
      color: rgba(55, 56, 60, .61);
    }
  
    .text-top {
      position: absolute;
      /* font-weight: 600;
      color: rgba(55, 56, 60, .61); */
      top: -40px;
    }
  
    .text-bottom {
      position: absolute;
      top: 40px;
    }
    
    .footer-img {
      line-height: 150px;
      margin-right: 100px;
    }
  
  
    .to_Writing{
      position: fixed;
      bottom: 200px;
      right: 180px;
    }
  
    .to_Writing img{
      width: 45px;
      height: 45px;
    }
