* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
header {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5px 0.2px 0px 0px gray;
  top: 0px;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  z-index: 2;
}

.header-introBar {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  position: relative;
}

=======
>>>>>>> mBw
button {
  border: 0px;
  background-color: white;
}

<<<<<<< HEAD
.header-menuBar {
  margin-right: 30px;
}

.header-logo img {
  max-height: 100%;
  max-width: 100%;
}

.header-profile img {
  max-height: 100%; /* 로고 이미지 높이 100%로 설정 */
  max-width: 100%; /* 로고 이미지 최대 너비 100%로 설정 */
}

=======
>>>>>>> mBw
a::visited {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

<<<<<<< HEAD
.header-menu {
  cursor: pointer;
}

.header-menuApi{
  margin-right: 30px;
  font-weight: 500;
}

.header-menuCommunity {
  font-weight: 500;
}

.header-communityHiddenMenu {
  display: none;
  width: 200px;
  position: absolute;
  transform: translate(20px, 80px);
}

.header-communityHiddenMenuUl {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  /* border: 1px solid rgba(112, 115, 124, 0.22); */
  background-color: #e9f6ff;
}

.header-communityHiddenMenuli {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  /* font-size: 0.875rem; */
  letter-spacing: 0px;

  font-weight: 800;
}

.header-communityHiddenMenuA {
  color: #a5a5a5;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  margin-top: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
  padding: 0;
  border-top: 1px solid lightgrey;
  margin-bottom: 80px;
}

.footer-container {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.footer-logo {
  line-height: 150px;
  margin-left: 100px;
}

.footer-text {
  margin: auto;
}

.footer-text li {
  list-style: none;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(55, 56, 60, .61);
}

.footer-img {
  line-height: 150px;
  margin-right: 100px;
}

=======
>>>>>>> mBw
/* idfind.css 시작점 */

.idfind-banner-container {
  margin-top: 80px;
  background-color: #e9f6ff;
  height: 50px;
  margin-bottom: 50px;
}

.idfind-banner-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 25px;
}

.idfind-checkemail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idfind-emailcheck {
  margin-right: 50px;
}

.idfind-checkmail-checkconfirm {
  margin-top: 50px;
}

div {
  margin: 0;
  padding: 0;
}
#idfind-next {
  color: white;
  margin-top: 10px;
  width: 20px;
}

.idfind-next-button {
<<<<<<< HEAD
  margin-top: 30px;
  width: 200px;
  height: 33px;
  background-color: skyblue;
  text-align: center;
=======
  /* margin-top: 30px;
  margin-bottom: 30px;
  width: 200px;
  height: 33px; */
  background-color: skyblue;
  text-align: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 200px;
  justify-content: center;
  /* 여기 수정 */
>>>>>>> mBw
}

#idfind-emailnumber1 {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 30px;
}

.idfind-header-container {
  max-width: 500px;
  margin: auto;
}

<<<<<<< HEAD
#idfind-emailnumber1{
  margin-top: 50px;
  font-weight: bold;
}
=======
#idfind-emailnumber1 {
  margin-top: 50px;
  font-weight: bold;
}
>>>>>>> mBw
