<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>자유 게시글 작성</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
          rel="stylesheet"
  />
  <link rel="stylesheet" th:href="@{/css/board-create.css}" />
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <script defer th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
  <script defer th:src="@{/js/board-create.js}"></script>
  <script defer th:src="@{/js/header.js}"></script>
</head>
<body>
<header th:replace="~{/layout/header :: header}"></header>
<!-- main -->
<main>
  <div class="main-title">
    <p class="main-titleText">자유 게시판</p>
  </div>

  <form th:action="@{/connection/board/create}" method="post" enctype="multipart/form-data">
    <div class="main-mainContainer">
      <div class="main-writingTypeChoice">
        <div class="main-writingTypeChoiceBox1">
          <select class="main-writingTypeChoiceSelect" name="freeboardCategorySports">
            <option value="soccer">축구</option>
            <option value="futsal">풋살</option>
            <option value="basketball">농구</option>
          </select>
        </div>
        <div class="main-writingTypeChoiceBox2">
          <select class="main-writingTypeChoiceSelect" name="freeboardCategoryPost">
            <option value="free">자유글</option>
            <option value="substitute">대타 모집</option>
          </select>
        </div>
      </div>

      <div class="main-boardTitle">
          <label>
            <input
                    type="text"
                    placeholder="제목을 입력하세요"
                    name="freeboardTitle"
                    class="main-btInput"
                    required
            />
          </label>
      </div>

      <div class="main-boardContent">
        <textarea name="freeboardContent" class="main-boardContentDetail" required></textarea>
      </div>

      <div class="write-inputFile">
        <span>첨부파일</span>
        <input type="file" id="write-file" name="File">
        <button type="button" onclick="deleteFile(this)">삭제</button>
      </div>

      <div class="main-btnCtn">
          <a th:href="@{/connection/board}" id="cancelBtn">취소</a>
          <button id="submitBtn" type="submit">등록</button>
      </div>
    </div>
  </form>
</main>
<footer th:replace="~{/layout/footer :: footer}"></footer>
</body>
</html>
