<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> mBw
=======
>>>>>>> cjw
* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
<<<<<<< HEAD
header {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5px 0.2px 0px 0px gray;
  top: 0px;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  z-index: 2;
}

.header-introBar {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  position: relative;
}

=======
>>>>>>> mBw
=======
>>>>>>> cjw
button {
  border: 0px;
  background-color: white;
}

<<<<<<< HEAD
<<<<<<< HEAD
.header-menuBar {
  margin-right: 30px;
}

.header-logo img {
  max-height: 100%;
  max-width: 100%;
}

.header-profile img {
  max-height: 100%; /* 로고 이미지 높이 100%로 설정 */
  max-width: 100%; /* 로고 이미지 최대 너비 100%로 설정 */
}

=======
>>>>>>> mBw
=======
>>>>>>> cjw
a::visited {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

<<<<<<< HEAD
<<<<<<< HEAD
.header-menu {
=======
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1300px;
}

.main-box {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 1000px;
}

.main-myProfile {
  width: 50%;
  padding: 15px;
  /* border: 1px solid black; */
}

.main-myProfileBox {
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;
  border-radius: 30px;
}

.main-myNameBox {
  margin-top: 40px;
  margin-left: 40px;
}

.main-myName {
  font-size: 25px;
  font-weight: 600;
}

.main-myNickname {
  font-size: 18px;
  font-weight: 500;
}

.main-myBox {
  height: 200px;
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #e9f6ff;
  border-radius: 30px;
  padding: 30px;
}

.main-myBoxTitle {
  font-size: 23px;
  font-weight: 500;
}

.main-myProfileModify {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
}

.main-logOut {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-top: 200px;
  margin-left: 140px;
  margin-right: 140px;
  background-color: #e9f6ff;
  border-radius: 30px;
}

.main-logOutText {
  font-weight: 600;
}

.main-leave {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-top: 20px;
  margin-left: 140px;
  margin-right: 140px;
  background-color: #f58d87;
  border-radius: 30px;
}

.main-leaveText {
  font-weight: 600;
}

.main-myWriting {
  width: 50%;
  padding: 15px;
  /* border: 1px solid black; */
}

.main-myWritingBox {
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;
  border-radius: 30px;
}

.main-myTitleBox {
  margin-top: 40px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: 600;
}

.main-freeWritingDetail1 {
  height: 120px;
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #e9f6ff;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.main-freeWritingDetail {
  height: 120px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #e9f6ff;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.main-freeWritingDetailBox {
  width: 430px;
  height: 100%;
}

.main-freeWritingDetailBox a {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-freeWritingDetailTitle {
  margin-top: 10px;
}

.main-freeWritingDetailTitleText {
  font-size: 20px;
  font-weight: 700;
}

.main-freeWritingDetailType {
  margin-top: 12px;
  font-size: 13px;
  color: #5079e2;
  font-weight: 600;
}

.main-freeWritingDetailBoxBar {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.main-freeWritingDetailNickname {
  font-size: 14px;
  font-weight: 600;
}

.main-container {
  margin: auto;

  max-width: 1200px;
}

.mypage-leaveModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e9f6ff;
  border-radius: 30px;
  width: 500px;
  height: 350px;
  padding-top: 30px;
  justify-content: center;
  justify-items: center;
}

.modal-bar {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}

.modal-barTitle {
  font-size: 21px;
  font-weight: 500;
}

.modal-barButton {
  font-size: 21px;
  font-weight: 500;
>>>>>>> cjw
  cursor: pointer;
}

.modal-text {
  margin-top: 70px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
  color: rgba(55, 56, 60, 0.61);
  font-weight: 500;
}

.modal-input {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.modal-password {
  width: 95%;
  height: 48px;
  min-height: 48px;
  padding-left: 16px;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(112, 115, 124, 0.22);
  border-radius: 10px;
  color: rgb(23, 23, 25);
  font-size: 16px;
  font-weight: 400;
}

.modal-submit {
  cursor: pointer;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
  margin-right: 120px;
  height: 60px;
  background-color: #f58d87;
  border-radius: 30px;
}

.modal-submitText {
  font-weight: 600;
}
<<<<<<< HEAD

  main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1300px;
  }

  .main-box{
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 1000px;
  }

  .main-myProfile{
    width: 50%;
    padding: 15px;
    /* border: 1px solid black; */
  }

  .main-myProfileBox{
    width: 100%;
    height: 100%;
    border: 1px solid lightgrey;
    border-radius: 30px;

  }

  .main-myNameBox{
    margin-top: 40px;
    margin-left: 40px;
  }

  .main-myName{
    font-size: 25px;
    font-weight: 600;
  }

  .main-myNickname{
    font-size: 18px;
    font-weight: 500;
  }

  .main-myBox{
    height: 200px;
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #E9F6FF;
    border-radius: 30px;
    padding: 30px;
  }

  .main-myBoxTitle{
    font-size: 23px;
    font-weight: 500;
  }

  .main-myProfileModify{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
  }

  .main-logOut{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 200px;
    margin-left: 140px;
    margin-right: 140px;
    background-color: #E9F6FF;
    border-radius: 30px;
  }

  .main-logOutText{
    font-weight: 600;
  }

  .main-leave{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 20px;
    margin-left: 140px;
    margin-right: 140px;
    background-color: #F58D87;
    border-radius: 30px;
  }

  .main-leaveText{
    font-weight: 600;
  }

  .main-myWriting{
    width: 50%;
    padding: 15px;
    /* border: 1px solid black; */
  }

  .main-myWritingBox{
    width: 100%;
    height: 100%;
    border: 1px solid lightgrey;
    border-radius: 30px;
  }

  .main-myTitleBox{
    margin-top: 40px;
    margin-left: 40px;
    font-size: 25px;
    font-weight: 600;
  }

  .main-freeWritingDetail1{
    height: 120px;
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #E9F6FF;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;

  }

  .main-freeWritingDetail{
    height: 120px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #E9F6FF;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }


.main-freeWritingDetailBox{
    width: 430px;
    height: 100%;
}

.main-freeWritingDetailBox a{
    display: flex;
    flex-direction: column;
    height: 100%;
}

  .main-freeWritingDetailTitle{
    margin-top: 10px;
  }

  .main-freeWritingDetailTitleText{
    font-size: 20px;
    font-weight: 700;
  }

  .main-freeWritingDetailType{
    margin-top: 12px;
    font-size: 13px;
    color: #5079E2;
    font-weight: 600;
  }

  .main-freeWritingDetailBoxBar{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .main-freeWritingDetailNickname{
    font-size: 14px;
    font-weight: 600;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    padding: 0;
    border-top: 1px solid lightgrey;
    margin-bottom: 80px;
  }
  
  .footer-container {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }
  
  .footer-logo {
    line-height: 150px;
    margin-left: 100px;
  }
  
  .footer-text {
    margin: auto;
  }
  
  .footer-text li {
    list-style: none;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(55, 56, 60, .61);
  }
  
  .footer-img {
    line-height: 150px;
    margin-right: 100px;
  }
  
  .main-container{
    margin: auto;
  
    max-width: 1200px;
  }

  .mypage-leaveModal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background-color: #E9F6FF;
    border-radius: 30px;
    width: 500px;
    height: 350px;
    padding-top: 30px;
    justify-content: center;
    justify-items: center;
  }

  .modal-bar{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
  }

  .modal-barTitle{
    font-size: 21px;
    font-weight: 500;
  }

  .modal-barButton{
    font-size: 21px;
    font-weight: 500;
    cursor: pointer;
  }

  .modal-text{
    margin-top: 70px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
    color: rgba(55, 56, 60, 0.61);
    font-weight: 500;
  }

  .modal-input{
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .modal-password{
    width: 95%;
    height: 48px;
    min-height: 48px;
    padding-left: 16px;
    outline: none;
    background-color: transparent;
    border: 1px solid rgba(112, 115, 124, 0.22);
    border-radius: 10px;
    color: rgb(23, 23, 25);
    font-size: 16px;
    font-weight: 400;
  }

  .modal-submit{
    cursor: pointer;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
    height: 60px;
    background-color: #F58D87;
    border-radius: 30px;
  }

  .modal-submitText{
    font-weight: 600;
  }


  
=======
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1300px;
}

.main-box {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 1000px;
}

.main-myProfile {
  width: 50%;
  padding: 15px;
  /* border: 1px solid black; */
}

.main-myProfileBox {
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;
  border-radius: 30px;
}

.main-myNameBox {
  margin-top: 40px;
  margin-left: 40px;
}

.main-myName {
  font-size: 25px;
  font-weight: 600;
}

.main-myNickname {
  font-size: 18px;
  font-weight: 500;
}

.main-myBox {
  height: 200px;
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #e9f6ff;
  border-radius: 30px;
  padding: 30px;
}

.main-myBoxTitle {
  font-size: 23px;
  font-weight: 500;
}

.main-myProfileModify {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
}

.main-logOut {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-top: 200px;
  margin-left: 140px;
  margin-right: 140px;
  background-color: #e9f6ff;
  border-radius: 30px;
}

.main-logOutText {
  font-weight: 600;
}

.main-leave {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-top: 20px;
  margin-left: 140px;
  margin-right: 140px;
  background-color: #f58d87;
  border-radius: 30px;
}

.main-leaveText {
  font-weight: 600;
}

.main-myWriting {
  width: 50%;
  padding: 15px;
  /* border: 1px solid black; */
}

.main-myWritingBox {
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;
  border-radius: 30px;
}

.main-myTitleBox {
  margin-top: 40px;
  margin-left: 40px;
  font-size: 25px;
  font-weight: 600;
}

.main-freeWritingDetail1 {
  height: 120px;
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #e9f6ff;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.main-freeWritingDetail {
  height: 120px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #e9f6ff;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.main-freeWritingDetailBox {
  width: 430px;
  height: 100%;
}

.main-freeWritingDetailBox a {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-freeWritingDetailTitle {
  margin-top: 10px;
}

.main-freeWritingDetailTitleText {
  font-size: 20px;
  font-weight: 700;
}

.main-freeWritingDetailType {
  margin-top: 12px;
  font-size: 13px;
  color: #5079e2;
  font-weight: 600;
}

.main-freeWritingDetailBoxBar {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.main-freeWritingDetailNickname {
  font-size: 14px;
  font-weight: 600;
}

.main-container {
  margin: auto;

  max-width: 1200px;
}

.mypage-leaveModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e9f6ff;
  border-radius: 30px;
  width: 500px;
  height: 350px;
  padding-top: 30px;
  justify-content: center;
  justify-items: center;
}

.modal-bar {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}

.modal-barTitle {
  font-size: 21px;
  font-weight: 500;
}

.modal-barButton {
  font-size: 21px;
  font-weight: 500;
  cursor: pointer;
}

.modal-text {
  margin-top: 70px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
  color: rgba(55, 56, 60, 0.61);
  font-weight: 500;
}

.modal-input {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.modal-password {
  width: 95%;
  height: 48px;
  min-height: 48px;
  padding-left: 16px;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(112, 115, 124, 0.22);
  border-radius: 10px;
  color: rgb(23, 23, 25);
  font-size: 16px;
  font-weight: 400;
}

.modal-submit {
  cursor: pointer;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
  margin-right: 120px;
  height: 60px;
  background-color: #f58d87;
  border-radius: 30px;
}

.modal-submitText {
  font-weight: 600;
}
>>>>>>> mBw
=======
>>>>>>> cjw
