* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  border: 0px;
  background-color: white;
}

a::visited {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/* passwordfind-.css 시작점 */

.passwordfind-banner-container {
  margin-top: 80px;
  background-color: #e9f6ff;
  height: 50px;
  margin-bottom: 50px;
}

.passwordfind-banner-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 25px;
}

.passwordfind-checkemail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passwordfind-emailcheck {
  margin-right: 50px;
}

.passwordfind-checkmail-checkconfirm {
  margin-top: 50px;
}

div {
  margin: 0;
  padding: 0;
}
#passwordfind-next {
  color: white;
  margin-top: 10px;
}

.passwordfind-next-button {
  margin-top: 30px;
  width: 200px;
  height: 33px;
  background-color: skyblue;
  text-align: center;
}

#passwordfind-emailnumber1 {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 30px;
}

.passwordfind-header-container {
  max-width: 500px;
  margin: auto;
}

#passwordfind-emailnumber1 {
  margin-top: 50px;
  font-weight: bold;
}
