<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&amp;display=swap"
            rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script defer th:src="@{/js/login.js}"></script>
    <script defer th:src="@{/js/header.js}"></script>
</head>

<body>
<header th:replace="~{/layout/header :: header}"></header>
<!-- section 태그 id명 추가..(필요시 수정) -->
<section id="auth-login">
    <div id="LoginApp" class="login-content" sytle="">
        <div class="auth-login">
            <div class="auth-login__container">
                <img th:src="@{/img/Connection-login.png}" id="login-logo" />
                <form method="post">
                    <fieldset>
                        <div class="auth-login__form">
                            <div class="auth-login__input">
                                <label class="auth-login__title">아이디</label>
                                <!-- <br> -->
                                <input
                                        type="text"
                                        name="memberEmail"
                                        placeholder="아이디를 입력하세요"
                                />
                            </div>

                            <br />
                            <div class="auth-login__input">
                                <label class="auth-login__title">비밀번호</label>
                                <!-- <br> -->
                                <input
                                        type="password"
                                        name="memberPassword"
                                        placeholder="비밀번호를 입력하세요"
                                />
                            </div>

                            <br />

                            <button class="auth-login__button--login">
                                로그인
                            </button>

                            <br />
                        </div>
                    </fieldset>
                    <div class="auth-login__divider"></div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{/layout/footer :: footer}"></footer>
</body>
</html>
