<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>공지사항1</title>
  <link rel="stylesheet" th:href="@{/css/notice1.css}"/>
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
          rel="stylesheet"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script defer th:src="@{/js/notice1.js}"></script>
  <script defer th:src="@{/js/header.js}"></script>
</head>
<body>
<!-- 헤더 -->
<header th:replace="~{/layout/header :: header}"></header>

<main>
  <!-- 게시글 닉네임, 제목, 내용 -->
  <div class="leaguePost-top">
    <div class="leaguePost-profileCtn">
      <!-- 유저 프로필 이미지 -->
      <div class="leaguePost-profile">
        <p class="leaguePost-commentProfileImg">📄</p>
      </div>

      <!-- 유저 닉네임 -->
      <div class="leaguePost-userNicknameCtn">
        <p class="leaguePost-userNickname">공지사항</p>
        <p class="leaguePost-date">1일전</p>
      </div>
    </div>

    <!-- 게시글 제목 -->
    <div class="leaguePost-titleCtn">
      <p class="leaguePost-title">제목 :</p>
      <p class="leaguePost-titleContnet">리그 참가 신청서 양식</p>
    </div>

    <div class="leaguePost-contentCtn">
      <!-- 게시글 내용 -->
      <div class="leaguePost-ctCtn">
        <p class="leaguePost-content1">리그 참가 신청서 양식입니다</p>
        <br />
        <p class="leaguePost-content2">참가 종목 :</p>
        <p class="leaguePost-content2">팀명 :</p>
        <p class="leaguePost-content2">팀 대표 :</p>
        <p class="leaguePost-content2">리그 참가 인원 이름 :</p>
        <p class="leaguePost-content2">팀 플레이 지역 :</p>
        <br />
        <br />
        <p class="leaguePost-content1">
          작성하신 인원 이외의 선수 출전 시 다음 리그 참가 불가
        </p>
      </div>
      <br />
      <br />
      <br />
      <div class="leaguePost-inventoryCtn">
        <!-- 게시글 목록 -->
        <div class="leaguePost-inventory">
          <a th:href="@{/connection}" class="leaguePost-inventoryBtn">
            <img src="/img/leaguePost-inventory.png"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- 푸터 -->
<footer th:replace="~{/layout/footer :: footer}"></footer>
</body>
</html>
