<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.connection.mapper.FileMapper">

    <!--  파일 삽입  -->
    <insert id="insertFile" parameterType="FileDTO">
        <selectKey keyProperty="fileNumber" resultType="Long" order="BEFORE">
            SELECT SEQ_FILE.nextVal FROM DUAL
        </selectKey>
        INSERT INTO CNN_FILE(
        FILE_NUMBER,
        FILE_USER,
        FILE_SERVER,
        FILE_EXT,
        FREEBOARD_NUMBER
        )
        VALUES(
        #{fileNumber},
        #{fileUser},
        #{fileServer},
        #{fileExt},
        #{freeboardNumber}
        )
    </insert>

    <delete id="deleteFile" parameterType="Long">
        DELETE FROM CNN_FILE
        WHERE FREEBOARD_NUMBER = #{freeboardNumber}
    </delete>

    <select id="selectList" parameterType="Long" resultType="FileDTO">
        SELECT FILE_NUMBER, FILE_USER, FILE_EXT, FILE_SERVER, FREEBOARD_NUMBER
        FROM CNN_FILE
        WHERE FREEBOARD_NUMBER = #{freeboardNumber}
    </select>
</mapper>