<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.connection.mapper.FreeboardMapper">

    <!--  select  -->

    <!--  게시글 리스트 조회  -->
    <select id="boardListViews" resultType="FreeboardViewDTO">
        SELECT FREEBOARD_NUMBER,
               FREEBOARD_TITLE,
               FREEBOARD_CONTENT,
               FREEBOARD_DATE,
               FREEBOARD_CATEGORY_SPORTS,
               FREEBOARD_CATEGORY_POST,
               FREEBOARD_VIEW,
               MEMBER_NUMBER
        FROM CNN_FREEBOARD
        WHERE rownum BETWEEN 1 AND 100
        ORDER BY FREEBOARD_DATE DESC
    </select>

    <!--  게시글 페이징 처리  -->
    <select id="boardListPaging" resultType="FreeboardViewDTO" parameterType="Criteria">
    <![CDATA[
        SELECT FREEBOARD_NUMBER,
               FREEBOARD_TITLE,
               FREEBOARD_DATE,
               FREEBOARD_VIEW,
               FREEBOARD_CONTENT,
               MEMBER_NICKNAME,
               MEMBER_NUMBER
        FROM (
                 SELECT RNUM,
                        FREEBOARD_NUMBER,
                        FREEBOARD_TITLE,
                        FREEBOARD_DATE,
                        FREEBOARD_VIEW,
                        FREEBOARD_CONTENT,
                        MEMBER_NICKNAME,
                        MEMBER_NUMBER
                 FROM (
                          SELECT ROWNUM AS RNUM,
                                 FREEBOARD_NUMBER,
                                 FREEBOARD_TITLE,
                                 FREEBOARD_DATE,
                                 FREEBOARD_VIEW,
                                 FREEBOARD_CONTENT,
                                 MEMBER_NICKNAME,
                                 MEMBER_NUMBER
                          FROM (
                                   SELECT FREEBOARD_NUMBER,
                                          FREEBOARD_TITLE,
                                          FREEBOARD_DATE,
                                          FREEBOARD_VIEW,
                                          FREEBOARD_CONTENT,
                                          MEMBER_NICKNAME,
                                          M.MEMBER_NUMBER
                                   FROM CNN_FREEBOARD F
                                            JOIN CNN_MEMBER M ON F.MEMBER_NUMBER = M.MEMBER_NUMBER
                                   ORDER BY FREEBOARD_DATE DESC
                               )
                          WHERE ROWNUM <= #{page} * #{amount}
                      )
                 WHERE RNUM > (#{page} - 1) * #{amount}
             )
        ]]>
    </select>

    <select id="boardFindTotal">
        SELECT COUNT(*)FROM CNN_FREEBOARD
    </select>

    <!--  게시글 상세페이지 조회  -->
    <select id="selectBoard" resultType="FreeboardViewDTO">
        SELECT *
        FROM CNN_FREEBOARD F
                 JOIN CNN_MEMBER M
                      ON F.MEMBER_NUMBER = M.MEMBER_NUMBER
        WHERE F.FREEBOARD_NUMBER = #{freeboardNumber}
    </select>

    <!--  메인 페이지 조회수  -->
    <select id="selectAllByViews" resultType="freeboardDTO">
        SELECT F.FREEBOARD_NUMBER, F.FREEBOARD_CATEGORY_POST, F.FREEBOARD_CATEGORY_SPORTS, F.FREEBOARD_TITLE, M.MEMBER_NICKNAME, F.FREEBOARD_VIEW
        FROM CNN_FREEBOARD F
                 JOIN CNN_MEMBER M
                      ON F.MEMBER_NUMBER = M.MEMBER_NUMBER
        WHERE F.FREEBOARD_CATEGORY_SPORTS IS NOT NULL AND F.FREEBOARD_CATEGORY_POST IS NOT NULL
        ORDER BY F.FREEBOARD_VIEW DESC
    </select>

    <!--  마이 페이지 조회수  -->
    <select id="selectByViews" resultType="freeboardDTO">
        SELECT F.FREEBOARD_NUMBER, F.FREEBOARD_CATEGORY_POST, F.FREEBOARD_CATEGORY_SPORTS, F.FREEBOARD_TITLE, M.MEMBER_NICKNAME, F.FREEBOARD_VIEW
        FROM CNN_FREEBOARD F
                 JOIN CNN_MEMBER M
                      ON F.MEMBER_NUMBER = M.MEMBER_NUMBER
        WHERE F.FREEBOARD_CATEGORY_SPORTS IS NOT NULL AND F.FREEBOARD_CATEGORY_POST IS NOT NULL AND MEMBER_NUMBER = #{memberNumber}
        ORDER BY F.FREEBOARD_VIEW DESC
    </select>

    <!--  update  -->

    <!--  게시글 수정  -->
    <update id="updateBoard" parameterType="FreeboardUpdateDTO">
        UPDATE CNN_FREEBOARD
        SET FREEBOARD_TITLE = #{freeboardTitle},
            FREEBOARD_CONTENT = #{freeboardContent},
            FREEBOARD_DATE = SYSDATE,
            FREEBOARD_CATEGORY_SPORTS = #{freeboardCategorySports},
            FREEBOARD_CATEGORY_POST = #{freeboardCategoryPost}
        WHERE FREEBOARD_NUMBER = #{freeboardNumber}
    </update>

    <!--  게시글 조회수 증가  -->
    <update id="boardViewCnt" flushCache="true" >
        UPDATE CNN_FREEBOARD
        SET FREEBOARD_VIEW = FREEBOARD_VIEW + 1
        WHERE FREEBOARD_NUMBER = #{freeboardNumber}
    </update>

    <!--  delete  -->

    <!--  게시글 삭제  -->
    <delete id="deleteBoard" parameterType="Long">
        DELETE
        FROM CNN_FREEBOARD
        WHERE FREEBOARD_NUMBER = #{freeboardNumber}
    </delete>

    <!--  insert  -->

    <insert id="insertBoard" parameterType="FreeboardWriteDTO">
        <selectKey keyProperty="freeboardNumber" resultType="Long" order="BEFORE">
            SELECT SEQ_FREEBOARD.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO CNN_FREEBOARD
        (
        FREEBOARD_NUMBER,
        FREEBOARD_TITLE,
        FREEBOARD_CONTENT,
        FREEBOARD_DATE,
        FREEBOARD_CATEGORY_SPORTS,
        FREEBOARD_CATEGORY_POST,
        FREEBOARD_VIEW,
        MEMBER_NUMBER
        )
        VALUES
        (
        #{freeboardNumber},
        #{freeboardTitle},
        #{freeboardContent},
        SYSDATE,
        #{freeboardCategorySports},
        #{freeboardCategoryPost},
        1,
        #{memberNumber}
        )
    </insert>
</mapper>