<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.connection.mapper.LeagueMapper">

    <!--  게시글 리스트 조회  -->
    <select id="leagueListViews" resultType="LeagueViewDTO">
        SELECT LEAGUEPOST_NUMBER,
               LEAGUEPOST_TITLE,
               LEAGUEPOST_CONTENT,
               LEAGUEPOST_DATE,
               LEAGUEPOST_CATEGORY,
               MEMBER_NUMBER
        FROM CNN_LEAGUEPOST
        WHERE rownum BETWEEN 1 AND 100
        ORDER BY LEAGUEPOST_DATE DESC
    </select>

    <!--  게시글 페이징 처리  -->
    <select id="leagueListPaging" resultType="LeagueViewDTO" parameterType="Criteria">
    <![CDATA[
        SELECT LEAGUEPOST_NUMBER,
               LEAGUEPOST_TITLE,
               LEAGUEPOST_DATE,
               LEAGUEPOST_CATEGORY,
               LEAGUEPOST_CONTENT,
               MEMBER_NICKNAME,
               MEMBER_NUMBER
        FROM (
                 SELECT RNUM,
                        LEAGUEPOST_NUMBER,
                        LEAGUEPOST_TITLE,
                        LEAGUEPOST_DATE,
                        LEAGUEPOST_CATEGORY,
                        LEAGUEPOST_CONTENT,
                        MEMBER_NICKNAME,
                        MEMBER_NUMBER
                 FROM (
                          SELECT ROWNUM AS RNUM,
                                 LEAGUEPOST_NUMBER,
                                 LEAGUEPOST_TITLE,
                                 LEAGUEPOST_DATE,
                                 LEAGUEPOST_CATEGORY,
                                 LEAGUEPOST_CONTENT,
                                 MEMBER_NICKNAME,
                                 MEMBER_NUMBER
                          FROM (
                                   SELECT LEAGUEPOST_NUMBER,
                                          LEAGUEPOST_TITLE,
                                          LEAGUEPOST_DATE,
                                          LEAGUEPOST_CATEGORY,
                                          LEAGUEPOST_CONTENT,
                                          MEMBER_NICKNAME,
                                          M.MEMBER_NUMBER
                                   FROM CNN_LEAGUEPOST F
                                            JOIN CNN_MEMBER M ON F.MEMBER_NUMBER = M.MEMBER_NUMBER
                                   ORDER BY LEAGUEPOST_DATE DESC
                               )
                          WHERE ROWNUM <= #{page} * #{amount}
                      )
                 WHERE RNUM > (#{page} - 1) * #{amount}
             )
        ]]>
    </select>

    <select id="leagueFindTotal">
        SELECT COUNT(*)FROM CNN_LEAGUEPOST
    </select>

    <!--  게시글 상세페이지 조회  -->
    <select id="selectLeague" resultType="LeagueViewDTO">
        SELECT *
        FROM CNN_LEAGUEPOST F
                 JOIN CNN_MEMBER M
                      ON F.MEMBER_NUMBER = M.MEMBER_NUMBER
        WHERE F.LEAGUEPOST_NUMBER = #{leaguepostNumber}
    </select>



    <!--  update  -->

    <!--  게시글 수정  -->
    <update id="updateLeague" parameterType="LeagueUpdateDTO">
        UPDATE CNN_LEAGUEPOST
        SET LEAGUEPOST_TITLE = #{leaguepostTitle},
            LEAGUEPOST_CONTENT = #{leaguepostContent},
            LEAGUEPOST_DATE = SYSDATE,
            LEAGUEPOST_CATEGORY = #{leaguepostCategory}
        WHERE LEAGUEPOST_NUMBER = #{leaguepostNumber}
    </update>


    <!--  delete  -->

    <!--  게시글 삭제  -->
    <delete id="deleteLeague" parameterType="Long">
        DELETE
        FROM CNN_LEAGUEPOST
        WHERE LEAGUEPOST_NUMBER = #{leaguepostNumber}
    </delete>

    <!--  insert  -->
    <insert id="insertLeague" parameterType="LeagueWriteDTO">
        <selectKey keyProperty="leaguepostNumber" resultType="Long" order="BEFORE">
            SELECT SEQ_LEAGUEPOST.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO CNN_LEAGUEPOST
        (
        LEAGUEPOST_NUMBER,
        LEAGUEPOST_TITLE,
        LEAGUEPOST_CONTENT,
        LEAGUEPOST_DATE,
        LEAGUEPOST_CATEGORY,
        MEMBER_NUMBER
        )
        VALUES
        (
        #{leaguepostNumber},
        #{leaguepostTitle},
        #{leaguepostContent},
        SYSDATE,
        #{leaguepostCategory},
        #{memberNumber}
        )
    </insert>

</mapper>
