* {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    position: fixed;
    width: 100%;
    height: 80px; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow : 0.5px 0.2px 0px 0px gray;
    top: 0px;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    z-index: 10;
  }
  
  .header-introBar{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-nav{
    display: flex;
    align-items: center;
    position: relative;
  }
  
  button{
    border: 0px;
    background-color: white;
  }
  
  .header-menuBar{
    margin-right: 30px;
  }
  
  .header-logo img {
    max-height: 100%; 
    max-width: 100%; 
  }
  
  
  .header-profile img{
    max-height: 100%; /* 로고 이미지 높이 100%로 설정 */
    max-width: 100%; /* 로고 이미지 최대 너비 100%로 설정 */
  }
  
  a::visited{
    color: black;
  }
  
  a{
    text-decoration: none;
    color: black;
  }
  
  ul{
    list-style: none;
  }
  
  .header-menu{
    cursor: pointer;
  }
  
  .header-menuCommunity{
    font-weight: 500;
  }
  
  .header-communityHiddenMenu{
    display: none;
    width: 200px;
    position: absolute;
    transform: translate(-60px, 80px);
  }
  
  .header-communityHiddenMenuUl{
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    /* border: 1px solid rgba(112, 115, 124, 0.22); */
    background-color: #E9F6FF;
  }
  
  .header-communityHiddenMenuli{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    /* font-size: 0.875rem; */
    letter-spacing: 0px;
    
    font-weight: 800;
  }
  
  .header-communityHiddenMenuA{
    color: #a5a5a5;
    
  }
  
  /* 게시글 작성 메인 */
  main {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding-bottom: 150px;
  }
  
  .main-title{
    width: 400px;
    height: 100px;
  }
  
  .main-titleText{
    font-size: 30px;
    color: #a5a5a5;
    font-weight: 500;
    text-align: center;
    line-height: 100px;
  }
  
  .main-writingTypeChoice{
    display: flex;
    margin-bottom: 40px;
    margin-left: 150px;
  }
  
  .main-writingTypeChoiceBox1{
    padding-right: 10px;
    margin-right: 20px;
    padding-left: 10px;
    width: 100px;
    border-radius: 10px;
    background-color: #E9F6FF;
  }
  
  
  .main-writingTypeChoiceBox2{
    border-radius: 10px;
    background-color: #E9F6FF;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
  }
  
  .main-writingTypeChoiceSelect{
    color: #a5a5a5;
    font-weight: 800;
    width: 100%;
    border: none;
    background-color: #E9F6FF;
    border-radius: 10px;
  }

  
  .main-mainContainer{
    width: 90%;
    max-width: 1200px;
    margin-top:20px;
  }
  
  .main-boardTitle{
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
    margin-bottom: 5px;
    justify-content: center;
  }
  
  .main-btInput{
    margin: auto;
    padding: 10px;
    width:900px;
    outline: none;
    border-width: 0 0 2px;
    border-color: lightgrey;
  }
  
  .main-btInput::placeholder{
    color: lightgrey;
  }
  
  .main-boardContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:20px;
    justify-content:center;
  }
  
  .main-btnCtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  button {
    background-color:#E9F6FF;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  button:hover {
    background-color:#E9F6FF;
  }
  
  #cancelBtn {
    color: #a5a5a5;
    font-weight: 800;
    background-color: blanchedalmond; 
  }
  
    #submitBtn{
        color: #a5a5a5;
        font-weight: 800;
    }

    #cancelBtn:hover {
        background-color: blanchedalmond; 
    }
  
  /* 에디터 스타일 */
  #summernote {
    width: 90%;
    max-width: 1200px;
    max-height: 400px;
    margin-bottom: 20px;
    overflow-y: auto;
  }
  
  /* 버튼 간격 조정 */
  button {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    padding: 0;
    border-top: 1px solid lightgrey;
    margin-bottom: 80px;
  }
  
  .footer-container {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }
  
  .footer-logo {
    line-height: 150px;
    margin-left: 100px;
  }
  
  .footer-text {
    margin: auto;
  }
  
  .footer-text li {
    list-style: none;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(55, 56, 60, .61);
  }
  
  .footer-img {
    line-height: 150px;
    margin-right: 100px;
  }