* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
header {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5px 0.2px 0px 0px gray;
  top: 0px;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  z-index: 2;
}

.header-introBar {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  position: relative;
}

button {
  border: 0px;
  background-color: white;
}

.header-menuBar {
  margin-right: 30px;
}

.header-logo img {
  max-height: 100%;
  max-width: 100%;
}

.header-profile img {
  max-height: 100%; /* 로고 이미지 높이 100%로 설정 */
  max-width: 100%; /* 로고 이미지 최대 너비 100%로 설정 */
}

a::visited {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.header-menu {
  cursor: pointer;
}

.header-menuApi{
  margin-right: 30px;
  font-weight: 500;
}

.header-menuCommunity {
  font-weight: 500;
}

.header-communityHiddenMenu {
  display: none;
  width: 200px;
  position: absolute;
  transform: translate(20px, 80px);
}

.header-communityHiddenMenuUl {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  /* border: 1px solid rgba(112, 115, 124, 0.22); */
  background-color: #e9f6ff;
}

.header-communityHiddenMenuli {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  /* font-size: 0.875rem; */
  letter-spacing: 0px;

  font-weight: 800;
}

.header-communityHiddenMenuA {
  color: #a5a5a5;
}

>>>>>>> 5e73998a8d1caefe2ce9712db29e5cd8eb6e1f84
=======
>>>>>>> mBw
=======
>>>>>>> cjw
:root {
  --fc-daygrid-event-dot-width: 8px;
}

.infoEdit-ctn {
  clear: both;
  margin: 0 auto;
  width: 100%;
  zoom: 1;
  height: 100%;
}

body {
  color: #282b33;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  /* display: block;
  unicode-bidi: isolate; */
=======
  /* display: block; */
>>>>>>> 5e73998a8d1caefe2ce9712db29e5cd8eb6e1f84
=======
>>>>>>> f64e76eefd98e66caffa27cbfbf0f482be68435f
=======
>>>>>>> mBw
}

h2 {
  text-align: center;
  font-weight: 600;
  color: #727f88;
  background-color: white;
}

<<<<<<< HEAD
<<<<<<< HEAD
.infoEdit-boundaryCtn{
<<<<<<< HEAD
  padding-bottom: 40px;
=======
=======
.infoEdit-boundaryCtn {
>>>>>>> f64e76eefd98e66caffa27cbfbf0f482be68435f
  padding-top: 140px;
  padding-bottom: 140px;
>>>>>>> 5e73998a8d1caefe2ce9712db29e5cd8eb6e1f84
=======
.infoEdit-boundaryCtn {
  padding-top: 140px;
  padding-bottom: 140px;
>>>>>>> mBw
}

.infoEdit-boundaryCtn {
  margin: 0 auto;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  background-color: #f8fafb;
=======
  /* background-color: #f8fafb; */
>>>>>>> 5e73998a8d1caefe2ce9712db29e5cd8eb6e1f84
  /* background-color 주의 */
=======
>>>>>>> f64e76eefd98e66caffa27cbfbf0f482be68435f
=======
>>>>>>> mBw
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> mBw
section {
  display: block;
  unicode-bidi: isolate;
}

<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 5e73998a8d1caefe2ce9712db29e5cd8eb6e1f84
section{
=======
section {
>>>>>>> f64e76eefd98e66caffa27cbfbf0f482be68435f
=======
section {
>>>>>>> mBw
  margin: 0;
  border: 0;
  vertical-align: baseline;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
/* .infoEdit-formInput{

} */

=======
>>>>>>> 5e73998a8d1caefe2ce9712db29e5cd8eb6e1f84
fieldset>div{
=======
fieldset > div {
>>>>>>> f64e76eefd98e66caffa27cbfbf0f482be68435f
=======
fieldset > div {
>>>>>>> mBw
  margin-bottom: 30px;
}

.infoEdit-formInput label {
  margin-bottom: 10px;
  display: block;
  font-size: 12px;
  font-weight: 600;
  color: #727f88;
}

label {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
label{
  cursor: default;
}

>>>>>>> 5e73998a8d1caefe2ce9712db29e5cd8eb6e1f84
[type="text"]{
=======
=======
>>>>>>> mBw
label {
  cursor: default;
}

[type="text"] {
<<<<<<< HEAD
>>>>>>> f64e76eefd98e66caffa27cbfbf0f482be68435f
=======
>>>>>>> mBw
  border: 1px solid #d9e0e6;
  background-color: #f8fafb;
  width: 100%;
  height: 54px;
  border-radius: 16px;
  padding: 14px 15px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
}

input[type="text" i] {
  padding-block: 1px;
  padding-inline: 2px;
}

input {
  text-rendering: auto;
<<<<<<< HEAD
<<<<<<< HEAD
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
<<<<<<< HEAD
=======
    padding-block: 1px;
    padding-inline: 2px;
>>>>>>> 5e73998a8d1caefe2ce9712db29e5cd8eb6e1f84
=======
=======
>>>>>>> mBw
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  padding-block: 1px;
  padding-inline: 2px;
<<<<<<< HEAD
>>>>>>> f64e76eefd98e66caffa27cbfbf0f482be68435f
=======
>>>>>>> mBw
}

.infoEdit-formMessage {
  padding: 10px 0px;
}

.infoEdit-formNoticeText {
  font-size: 12px;
  color: #727f88;
  line-height: 14px;
}

p {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

p {
  word-break: keep-all;
}

p {
  display: block;
<<<<<<< HEAD
<<<<<<< HEAD
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
<<<<<<< HEAD
=======
=======
=======
>>>>>>> mBw
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
<<<<<<< HEAD
>>>>>>> f64e76eefd98e66caffa27cbfbf0f482be68435f
=======
>>>>>>> mBw
}

.infoEdit-genderCtn {
  display: flex;
  flex-wrap: wrap;
  border-radius: 12px;
  overflow: hidden;
}

ul {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.infoEdit-genderItem {
  width: 50%;
  position: relative;
  padding-right: 1px;
}

li {
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}

.infoEdit-genderSelect {
  position: absolute;
  opacity: 0;
  background-color: #f2f5f7;
  width: 100%;
  height: 100%;
  padding: 0;
}

[type="radio"] {
  border-radius: 50%;
  margin: 0 5px 0 0;
}

input[type="radio" i] {
  cursor: default;
  appearance: auto;
  border: initial;
}

.infoEdit-genderSelect:checked + label {
  color: #1570ff;
  border: 1px solid #1570ff;
}

.infoEdit-genderSelect + label {
  position: relative;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #4b5a64;
  background-color: #ffffff;
  border: 1px solid #d9e0e6;
  border-radius: 12px;
  margin: 5px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

[type="radio"] + label {
  align-items: center;
  padding: 0;
}

.infoEdit-btnCtn {
  width: 100%;
  background-color: white;
  padding: 15px;
  text-align: center;
  display: flex;
}

button {
  border-radius: 12px;
  padding: 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  color: white;
  display: block;
}

button {
  appearance: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  margin: 5px;
  margin-left: 0px;
  padding-inline: 6px;
}

.infoEdit-btnCancel {
  background-color: pink;
  text-align: center;
  cursor: pointer;
  width: 600px;
}

.infoEdit-btnSave {
  text-align: center;
  background-color: #c9e8ff;
  width: 600px;
  cursor: pointer;
}

.infoEdit-birthWrapCtn {
  display: flex;
  flex-wrap: wrap;
  border-radius: 12px;
  margin: 5px;
  padding: 5px;
}

.infoEdit-birthWrap select::-webkit-scrollbar-thumb {
  border-radius: 3px;
}

.infoEdit-birthWrap select::-webkit-scrollbar-track {
  border-radius: 6px;
}

select.infoEdit-birthYear {
  width: 32%;
  position: relative;
  display: list-item;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #4b5a64;
  background-color: #ffffff;
  border: 1px solid #d9e0e6;
}

select.infoEdit-birthMonth {
  width: 32%;
  position: relative;
  display: list-item;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #4b5a64;
  background-color: #ffffff;
  border: 1px solid #d9e0e6;
}

select.infoEdit-birthDay {
  width: 32%;
  position: relative;
  display: list-item;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #4b5a64;
  background-color: #ffffff;
  border: 1px solid #d9e0e6;
}

.infoEdit-btnCancel {
  transition: 0.1s;
}

.infoEdit-btnCancel:hover {
  filter: brightness(0.9);
}

.infoEdit-btnSave {
  transition: 0.1s;
}

.infoEdit-btnSave:hover {
  filter: brightness(0.9);
}

#infoEdit-errMsgName {
  display: none;
  color: #fa5963;
  font-size: 12px;
  font-weight: 500;
}

#infoEdit-errorMsgNkName {
  display: none;
  color: #fa5963;
  font-size: 12px;
  font-weight: 500;
}
<<<<<<< HEAD
<<<<<<< HEAD

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
  padding: 0;
  border-top: 1px solid lightgrey;
  margin-bottom: 80px;
}

.footer-container {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.footer-logo {
  line-height: 150px;
  margin-left: 100px;
}

.footer-text {
  margin: auto;
}

.footer-text li {
  list-style: none;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(55, 56, 60, .61);
}

.footer-img {
  line-height: 150px;
  margin-right: 100px;
<<<<<<< HEAD
>>>>>>> 5e73998a8d1caefe2ce9712db29e5cd8eb6e1f84
}
=======
}
>>>>>>> f64e76eefd98e66caffa27cbfbf0f482be68435f
=======
>>>>>>> mBw
=======
>>>>>>> cjw
