<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>마이페이지</title>
  <link rel="stylesheet" th:href="@{/css/mypage.css}"/>
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
          rel="stylesheet"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script defer th:src="@{/js/mypage.js}"></script>
  <script defer th:src="@{/js/header.js}"></script>
</head>
<body>
<div class="entire">
  <header th:replace="~{/layout/header :: header}"></header>

  <div class="main-container">
    <main class="main">
      <div class="main-box">
        <div class="main-myProfile">
          <div class="main-myProfileBox">
            <div class="main-myNameBox">
              [사용자 🐳] <div th:text="${memberInfo.memberName}" class="main-myName"></div>

              [닉네임 😀] <div th:text="${memberInfo.memberNickname}" class="main-myNickname"></div>
            </div>
            <div class="main-myBox">
              <div class="main-myBoxTitle">💙 나의 커넥션</div>
              <div class="main-myProfileModify">
                <a th:href="@{/connection/member/info}">👋 개인 정보 수정</a>
              </div>
            </div>
              <div class="main-logOut">
                <div id="mypage-asidelogout" class="main-logOutText">로그아웃</div>
              </div>
            <div class="main-leave">
              <div id="mypage-asidesecession" class="main-leaveText">탈퇴하기</div>
            </div>
          </div>
        </div>
        <div class="main-myWriting">
          <div class="main-myWritingBox">
            <div class="main-myTitleBox">💬 나의 게시글</div>
            <div class="main-myWritingList">
              <div>
                <div th:each="freeboardDTO : ${freeboardList}">
                  <div class="main-freeWritingDetail">
                    <div class="main-freeWritingDetailBox">
                      <a th:href="@{/connection/board/post(freeboardNumber=${freeboardDTO.freeboardNumber})}">
                        <div class="main-freeWritingDetailType">
                          <span th:text="${freeboardDTO.freeboardCategorySports}"></span>
                          <span>/</span>
                          <span th:text="${freeboardDTO.freeboardCategoryPost}"></span>
                        </div>
                        <div class="main-freeWritingDetailTitle">
                          <span class="main-freeWritingDetailTitleText" th:text="${freeboardDTO.freeboardTitle}"></span>
                        </div>
                        <div class="main-freeWritingDetailBoxBar">
                          <div class="main-freeWritingDetailNickname">
                            <span>😀</span>
                            <span th:text="${freeboardDTO.memberNickname}"></span>
                          </div>
                          <div class="fwd-count">
                            <span th:text="'조회수 ' + ${freeboardDTO.freeboardView}"></span>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div class="mypage-leaveModal">
      <div>
        <div class="modal-bar">
          <div class="modal-barTitle">✂️ 탈퇴하기</div>
          <div class="modal-barButton">✖️</div>
        </div>

        <div class="modal-text">비밀번호 입력</div>

        <div class="modal-input">
          <input
                  class="modal-password"
                  type="text"
                  placeholder="비밀번호를 입력하세요"
          />
        </div>

        <div class="modal-submit">
          <div class="modal-submitText">탈퇴하기</div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer" th:replace="~{/layout/footer :: footer}"></footer>
</div>
</body>
</html>
