* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}
/* position 수정 : sticky -> fixed */
header {
  position: fixed;
  width: 100%;
  height: 80px; 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow : 0.5px 0.2px 0px 0px gray;
  top: 0px;
  border-bottom: 1px solid lightgrey;
  background-color: white;
}

.header-introBar{
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav{
  display: flex;
  align-items: center;
  position: relative;
}

button{
  border: 0px;
  background-color: white;
}

.header-menuBar{
  margin-right: 30px;
}

.header-logo img {
  max-height: 100%; 
  max-width: 100%; 
}


.header-profile img{
  max-height: 100%; /* 로고 이미지 높이 100%로 설정 */
  max-width: 100%; /* 로고 이미지 최대 너비 100%로 설정 */
}

a::visited{
  color: black;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
}

.header-menu{
  cursor: pointer;
}

.header-menuCommunity{
  font-weight: 500;
}

.header-communityHiddenMenu{
  display: none;
  width: 200px;
  position: absolute;
  transform: translate(-60px, 80px);
}

.header-communityHiddenMenuUl{
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  /* border: 1px solid rgba(112, 115, 124, 0.22); */
  background-color: #E9F6FF;
}

.header-communityHiddenMenuli{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  /* font-size: 0.875rem; */
  letter-spacing: 0px;
  
  font-weight: 800;
}

.header-communityHiddenMenuA{
  color: #a5a5a5;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
  padding: 0;
  border-top: 1px solid lightgrey;
  margin-bottom: 80px;
}

.footer-container {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.footer-logo {
  line-height: 150px;
  margin-left: 100px;
}

.footer-text {
  margin: auto;
}

.footer-text li {
  list-style: none;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(55, 56, 60, .61);
}

.footer-img {
  line-height: 150px;
  margin-right: 100px;
}

/* login.css 시작점 */

* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}
/* 수정 */

div {
  margin: 0;
  padding: 0;
  /* border: 1;/ */
  border-style: 1px solid black;
  vertical-align: baseline;
}

/* 수정한 부분! */
fieldset {
  border: none;
}

.auth-login {
  margin-top: 200px;
  margin-bottom: 100px;
  height: 765px;
}

.auth-login__form {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
  width: 30%;
  align-items: center;
  margin: auto;
}

.auth-login__input {
  color: #4b5a64;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
}

.auth-login__title {
  color: rgba(55, 56, 60, 0.61);
  margin-bottom: 8px;
}

[type="text"],
[type="password"] {
  background-color: #f8fafb;
  width: 100%;
  height: 48px;
  padding: 0px 12px;
  box-sizing: border-box;

  border: 1px solid rgba(112, 115, 124, 0.22);
  
  border-radius: 10px;
  color: rgb(23, 23, 25);
  font-size: 16px;
  font-weight: 400;
}

#login-logo {
  margin: auto;
  display: block;
}


/* 아이디 저장하기 수정! */
/* [type="checkbox"] + label {
  /* 다시 하기 */
/*display: flex;
  justify-content: center;
  margin: auto;
} */

.auth-id-remember {
  width: 400px;
}

.idRember-label{
  color: rgba(55, 56, 60, 0.61);
}

.auth-login__button--login {
  color: #181600;
  background-color: #E9F6FF;
  height: 56px;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
  /* 수정 */
  width: 400px;
}

.auth-login__button--extra {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
}

.auth-login__button--kakao {
  border-radius: 12px;
  background: #fee500;
  color: #181600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  /* 수정 */
  width: 400px;
  padding: 15px 0px;
  line-height: 22px;
  margin: auto;
}

.auth-login__button--extra a{
  color: rgba(55, 56, 60, 0.61);
}
